.row {
  margin-left: 20px;
  color: #ffffff;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 0.3s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.07);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.08);
}

.vid__container {
  display: flex;
  margin: 0.5rem 3rem;
  margin-bottom: 4rem;
}

.youtube__video {
  width: 55rem;
  height: 30rem;
}

.video__description {
  color: #f2f2f2;
  margin-left: 4rem;
  width: 40rem;
}

.video__description span {
  color: #b3b3b3;
  margin-right: 0.5rem;
}

.movie__title {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.1rem;
}

.movie__description {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.movie__description span {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.movie__date,
.movie__vote_count,
.movie__vote_average {
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

/* Responsive for the description + Video */
@media screen and (max-width: 1450px) {
  .youtube__video {
    width: 40rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1200px) {
  .youtube__video {
    width: 30rem;
    height: 20rem;
  }

  .movie__title {
    padding-top: 1rem;
    margin-bottom: 0.9rem;
    font-size: 2rem;
  }

  .movie__description {
    font-size: 1.3rem;
    padding-bottom: 1.6rem;
  }

  .movie__date,
  .movie__vote_count,
  .movie__vote_average {
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
  }
}

@media screen and (max-width: 1000px) {
  .vid__container {
    flex-direction: column;
    align-items: center;
  }
  .youtube__video {
    align-self: center;
    width: 40rem;
    height: 30rem;
  }
  .video__description {
    color: #f2f2f2;
    margin-left: 0rem;
    width: 40rem;
  }
}

@media screen and (max-width: 700px) {
  .youtube__video {
    align-self: center;
    width: 30rem;
    height: 20rem;
  }
  .video__description {
    width: 30rem;
  }
}

@media screen and (max-width: 550px) {
  .youtube__video {
    align-self: center;
    width: 25rem;
    height: 18rem;
  }
  .video__description {
    width: 25rem;
  }
}

@media screen and (max-width: 450px) {
  .vid__container {
    margin-left: 2rem;
  }
  .youtube__video {
    align-self: center;
    width: 20rem;
    height: 15rem;
  }
  .video__description {
    width: 20rem;
  }
}

@media screen and (max-width: 330px) {
  .vid__container {
    margin-left: 2rem;
  }
  .youtube__video {
    align-self: center;
    width: 18rem;
    height: 12rem;
  }
  .video__description {
    width: 18rem;
  }
}
